<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./style-item.css">
  <title>item</title>
</head>
<body>
  <div class="todo-item">
    <div class="todo-item-group">
      <input class="todo-item-check" type="checkbox" id="check1">
      <label class="todo-item-title">Lorem ipsum dolor sit amet </label>
    </div>
    <span class="todo-item-time center">3 horas</span>
  </div>
</body>
</html>
